{% extends "layout.html" %}
{% block body %}
	<script type="text/javascript">
		function deleteProject(project_id) {
			$.ajax({
				url: "{{ url_for('dashboard') }}" + project_id,
				type: 'DELETE',
				success: function(response) {
					console.log("Deleted project");
					window.location.href = "{{ url_for('dashboard') }}"
				}
			})
		}
	</script>

	<div class="container">
		<div class="row">
			<h1>Project Dashboard</h1>
			<table class="table">
				<tbody id="projects-table">
					{% for project in projects %}
						<tr>
							<td project-id='{{ project["project_id"] }}' >
								<a href="{{ url_for('abstract_diagram', project_id=project['project_id']) }}">{{ project['name'] }}</a> {{ project['db_name'] }}
							</td>
							<td>
								<button type="button" class="btn" onclick="deleteProject({{ project['project_id'] }})">Delete</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="add-db">
			<button type="button" class="btn btn-success btn-circle btn-xl" data-toggle="modal" data-target="#add-project-modal"><i class="glyphicon glyphicon-plus"></i></button>
		</div>
	</div>
			
	
    <!-- Modal -->
    <div class="modal fade" id="add-project-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    	<div class="modal-dialog" role="document">
        	<div class="modal-content">
          		<div class="modal-header">
            		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            		<h4 class="modal-title" id="myModalLabel">Add New Project</h4>
          		</div>
          		<div class="modal-body">
            		<form id='add-project-form' action='{{ request.path }}' method=post>
            			<div class="row">
            				<div class="col-xs-10 col-xs-offset-1" style="border-bottom: 1px solid black; margin-bottom: 20px;">
								<div class="form-group">
									<label for="project_name">Project Name</label>
									<input type="text" class="form-control" name="project_name" placeholder="">
								</div>
							</div>
						</div>
						<div class="row">
            				<div class="col-xs-10 col-xs-offset-1">
								<div class="form-group">
									<label for="db_name">Database Name</label>
									<input type="text" class="form-control" name="db_name" value="oscar15_bc">
								</div>
							</div>
						</div>
						<div class="row">
            				<div class="col-xs-10 col-xs-offset-1">
								<div class="form-group">
									<label for="username">Username</label>
									<input type="text" class="form-control" name="username" value="root">
								</div>
							</div>
						</div>
						<div class="row">
            				<div class="col-xs-10 col-xs-offset-1">
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control" name="password" value="@scar2015">
								</div>
							</div>
						</div>
						<div class="row">
            				<div class="col-xs-6 col-xs-offset-1">
								<div class="form-group">
									<label for="host">Host</label>
									<input type="text" class="form-control" name="host" value="127.0.0.1">
								</div>
							</div>
							<div class="col-xs-4">
								<div class="form-group">
									<label for="port">Port</label>
									<input type="text" class="form-control" name="port" value="3306">
								</div>
							</div>
						</div>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	            			<input type="submit" id="save-project-button" class="btn btn-primary" value="Save changes">
					</form>
          		</div>
        	</div>
      	</div>
    </div>

    <!-- Modal Edit -->
    <div class="modal fade" id="edit-project-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    	<div class="modal-dialog" role="document">
        	<div class="modal-content">
          		<div class="modal-header">
            		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            		<h4 class="modal-title" id="myModalLabel">Change Project Name</h4>
          		</div>
          		<div class="modal-body">
		    		<form id='add-project-form'>
		    			<div class="row">
		    				<div class="col-xs-10 col-xs-offset-1">
							<div class="form-group">
								<label for="project_name">Project Name</label>
								<input type="text" class="form-control" name="project_name" placeholder="">
								<input type="text" class="form-control" name="project_name" id="project-id" placeholder="" style="display:none;">
							</div>
						</div>
					</div>
				</form>
          		</div>
	          	<div class="modal-footer">
	            	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	            	<button type="button" id="edit-project-button" class="btn btn-primary">Save changes</button>
	          	</div>
        	</div>
      	</div>
    </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% endblock %}