*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#add-project-modal .modal-body {
    padding: 30px 50px 50px 50px;
}

#save-project-button {
    margin-left: 15px;
}

#table {
    width: 100%;
}

#schema-diagram {
	background-color: white;
	border: solid 1px lightgrey;
	width: 100%;
	height: calc(100vh - 200px);
}

#layout {
    background: none;
    border: none;
    color: rgb(255,64,129);
    padding: 15px;
}

#layout:hover,
#layout:focus {
    background-color: #eee;
    color: #23527c;
    cursor: pointer;
    outline: none;
}

#integration-list-container {
    height: calc(100vh - 200px);
    overflow-y: scroll;
    border: 1px solid lightgrey;
}

#integration-list {
    font-family: 'Open Sans', sans-serif;
    word-break: break-all;
}
#integration-list ul {
    font-size: 17px;
    padding: 0;
    color: #555;
}
#integration-list ul > li {
    list-style: none;
    border-top: 1px solid #ddd;
    display: block;
    padding: 0px;
    overflow: hidden;
}
#integration-list ul:last-child {
    border-bottom: 1px solid #ddd;
}
#integration-list ul > li:hover {
    background: #efefef;
}
#integration-list .material-icons {
    font-size: 18px;
}

#left, #right {
    display: table;
}

#sup {
    display: table-cell;
    vertical-align: middle;
    width: 80%;
}

.list-head td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.expand {
    display: block;
    text-decoration: none;
    color: #555;
    cursor: pointer;
}

.detail {
    font-size: 12.5px;
    margin: 10px 0 10px 0px;
    display: none;
    line-height: 22px;
}
.detail a {
    text-decoration: none;
    color: #C0392B;
    border: 1px solid #C0392B;
    padding: 6px 10px 5px;
    font-size: 14px;
}
.detail table td:not(:first-of-type) {
    padding-right: 10px;
}

.right-arrow {
    margin-top: 12px;
    margin-left: 20px;
    width: 10px;
    height: 100%;
    float: right;
    font-weight: bold;
    font-size: 20px;
}

.icon {
    height: 75px;
    width: 75px;
    float: left;
    margin: 0 15px 0 0;
}

.error-container {
    bottom: 40px;
    position: fixed;
    text-align: center;
    width: 100%;
}
.error-container .error {
    background: #323232;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    max-width: 568px;
    min-width: 288px;
    padding: 20px;
}
