{% extends "layout.html.j2" %}
{% block body %}
	<script type="text/javascript">
		function editProject(button, name, project_id) {
			var rowIndex = button.parentNode.parentNode.rowIndex;
			if(button.childNodes[1].innerHTML == 'mode_edit') {
				document.getElementById("table").rows[rowIndex].cells[0].childNodes[1].removeAttribute('href');
				document.getElementById("table").rows[rowIndex].cells[0].contentEditable = true;
				button.childNodes[1].innerHTML = 'done';
				document.getElementById('table').rows[rowIndex].cells[0].childNodes[1].style.color = "#000000";
				document.getElementById('table').rows[rowIndex].cells[0].style.backgroundColor = "rgb(255,64,129)";	
			}
			else {
				var new_name;
				document.getElementById("table").rows[rowIndex].cells[0].contentEditable = false;
				if (typeof document.getElementById("table").rows[rowIndex].cells[0].childNodes[1].innerHTML=="string") {
					new_name=document.getElementById("table").rows[rowIndex].cells[0].childNodes[1].innerHTML;
				} else {
					new_name=document.getElementById("table").rows[rowIndex].cells[0].childNodes[1].data;
				}
				var data = {old_name: name, new_name:new_name};
				var dataString = JSON.stringify(data);
				$.ajax({
					url: location.pathname,
					type: 'POST',
					contentType: 'application/json',
					data: dataString,
					success: function(response) {
						location.reload();			
					},
					error: function(response) {
						$('.notification').text(response.responseText).removeClass('hidden');
					}
				})
			}
		}
		function deleteProject(project_id) {
			$.ajax({
				url: "{{ url_for('dashboard') }}" + project_id,
				type: 'DELETE',
				success: function(response) {
					location.reload();
				},
				error: function(response) {
					$('.notification').text(response.responseText).removeClass('hidden');
				}
			})
		}
	</script>

	<div class="container">
		<div class="row">
		    <div class="col-xs-8 col-lg-6 col-lg-offset-2">
				<h1>Projects</h1>
			</div>
			<div class="col-xs-4 col-lg-2 text-right">
				<button id="myModal" type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" data-toggle="modal" data-target="#add-project-modal" style="margin: 30px 0;">
					<i class="material-icons">add</i>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="table">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">Project Name</th>
							<th class="mdl-data-table__cell--non-numeric" hidden></th>
							<th class="mdl-data-table__cell--non-numeric">Database Name</th>
							<th class="mdl-data-table__cell--non-numeric">Host</th>
							<th class="mdl-data-table__cell--non-numeric">Port</th>
							<th class="mdl-data-table__cell--non-numeric"></th>
						</tr>
					</thead>
					<tbody id="projects-table">
						{% for project in projects %}
							<tr>
								<td class="mdl-data-table__cell--non-numeric" project-id='{{ project["project_id"] }}' >
									<a href="{{ url_for('abstract_diagram', project_id=project['project_id']) }}">{{ project['name'] }}</a> {{ project['project_name'] }}
								</td>
								<td hidden>
									<button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="editProject(this, '{{ project['name'] }}', '{{ project['project_id'] }}')">
										<i class="material-icons">mode_edit</i>
									</button>
								</td>
								<td class="mdl-data-table__cell--non-numeric" project-id='{{ project["project_id"] }}' >
									{{ project['db_name'] }}
								</td>
								<td class="mdl-data-table__cell--non-numeric" project-id='{{ project["project_id"] }}' >
									{{ project['host'] }}
								</td>
								<td class="mdl-data-table__cell--non-numeric" project-id='{{ project["project_id"] }}' >
									{{ project['port'] }}
								</td>
								<td>
									<button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="deleteProject({{ project['project_id'] }})">
										<i class="material-icons">delete</i>
									</button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
		    	</div>
		</div>
    </div>
    <div class="modal fade" id="add-project-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    	<div class="modal-dialog" role="document">
        	<div class="modal-content">
          		<div class="modal-header">
            		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            		<h4 class="modal-title" id="myModalLabel">Add New Project</h4>
          		</div>
          		<div class="modal-body">
            		<form id="add-project-form" action="{{ url_for('dashboard') }}" method=post>
							<div class="form-group">
								<label for="project_name">Project Name</label>
								<input type="text" class="form-control" name="project_name">
							</div>
						</br>
						<div class="form-group">
							<label for="db_name">Database Name</label>
							<input type="text" class="form-control" name="db_name">
						</div>
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" class="form-control" name="username">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" name="password">
						</div>
						<div class="row">
            				<div class="col-xs-8">
								<div class="form-group">
									<label for="host">Host</label>
									<input type="text" class="form-control" name="host">
								</div>
							</div>
							<div class="col-xs-4">
								<div class="form-group">
									<label for="port">Port</label>
									<input type="text" class="form-control" name="port">
								</div>
							</div>
						</div>
						<div class="form-group" hidden>
							<label for="port">Java Directory</label>
							<input type="text" class="form-control" name="java_directory">
						</div>
						</br>
						<div class="text-right">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<input type="submit" id="save-project-button" class="btn btn-primary {{ 'disabled' if session.logged_in_username == 'demo' }}" value="Save changes">
						</div>
					</form>
          		</div>
        	</div>
      	</div>
    </div>

{% endblock %}
